section {
    height: 35vh;
}

#container{
    background-image: url("./assets/punkskull.gif"), url("./assets/flames.gif");
    background-size: 25%;
    background-color: rgb(206, 255, 31);
}
#nic{
    position:absolute;
    text-align: right;
    color: blue;
    right:0;
    font-size: 20px;
    text-shadow: 10px 13px red;
}
#sonic-header{
    font-size: 40px;
    font-family: cursive;
}
#alex{
    -webkit-box-shadow: 0px 0px 41px 0px rgba(247,0,247,1);
    -moz-box-shadow: 0px 0px 41px 0px rgba(247,0,247,1);
    box-shadow: 0px 0px 41px 0px rgba(247,0,247,1);
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 3em;
}




/* courtney's changes */
.intexp-img {
    width: 25%;
}

.intexp {
    height: 100vh;
    text-align: center;
}

.headache {
    display: flex;
    justify-content: space-around;
    height: 300px;
    border: dashed rgba(247,0,247,1) 8px
}

.headache-img {
    width: 25%;
    border: dotted rgb(0, 128, 17) 10px
}

.header-text {
    background-color: rebeccapurple;
    color:rgb(206, 255, 31);
    width: 50%;
    margin: 10px auto;
    padding: 0 0 15px 0
}

/* header {
    background-color: white;
} */