#container{
    background-image: url("./assets/punkskull.gif"), url("./assets/flames.gif");
    background-size: 25%;
    background-color: rgb(206, 255, 31);
    width: 100vh;
    height: 100vh;
}
#nic{
    position:absolute;
    text-align: right;
    color: blue;
    right:0;
    font-size: 20px;
    text-shadow: 10px 13px red;
}
#sonic-header{
    font-size: 40px;
    font-family: cursive;
}